{% extends 'shop/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="page-header">Checkout</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" class="btn btn-primary" value="Submit order">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                         <i class="fas fa-shopping-cart"></i>{{ item.quantity }}x {{ item.product.name }}
                        <span><i class="fas fa-dollar-sign"></i> {{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: <i class="fas fa-dollar-sign"></i> {{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}