{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  About
{% endblock %}
{% block content %}
    
<div class="about-bg">
	<h2>About Us</h2>
</div>
<div class="container">
	<div class="row about-content">
		<div class="col-md-8 col-md-offset-2">
			<p>
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias soluta, repellat dolore earum. Cumque dolorem illo ad, molestiae delectus labore praesentium obcaecati optio quisquam corrupti possimus consectetur iure, architecto voluptatum.</span>
			<span>Sint ducimus unde earum similique atque, qui est voluptates minima? Est quas quisquam totam, itaque, molestiae cum consectetur necessitatibus, magnam ratione, voluptates minus corporis a numquam maiores sed natus! Voluptate.</span>
			<span>Molestias mollitia, quia excepturi fugit perspiciatis minus impedit vero nobis, sapiente ipsam consequatur expedita debitis molestiae voluptate illo reprehenderit quos sint deserunt placeat, facilis explicabo itaque? Optio consectetur sint reiciendis!</span>
			<span>Cum aliquid ipsa, tenetur eaque, adipisci quod. Omnis maiores iste dolorem expedita, autem sapiente cupiditate eos, nihil illo quam maxime et doloribus officia quae voluptates beatae quisquam sunt laboriosam voluptatum.</span>
			<span>Doloremque, quibusdam architecto, nostrum laborum illo voluptatem dolores officiis assumenda unde iure aspernatur eum recusandae at sequi voluptate quaerat impedit ipsum distinctio. Vero, illo libero error officiis cumque aliquid eum.</span>
		</p>
		</div>
		
	</div>
</div>
{% endblock content %}
